@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap');
@import "./components/tailwind";
@import "./components/landing";

body {
	font-family: 'Jost', sans-serif;
}
@layer components {
	.bg-text-clip {
		-webkit-background-clip: text;
		background-clip: text;
	}
}
